.ingreso .collapsible,
.ingreso .collapsible li {
    border: none
}

.ingreso .collapsible .collapsible-header {
    background-color: transparent;
    border: none;
    display: block;
    text-align: center !important;
}

.ingreso .collapsible .collapsible-body {
    padding-left: 0;
    padding-right: 0;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: 0 !important
}

.ingreso .collapsible .action-btns {
    padding-bottom: 20px;
}

.ingreso .collapsible .collapsible-body input {
    background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.ingreso .collapsible .collapsible-body form {
    margin-bottom: 0px;
}

.ingreso .collapsible {
    margin-bottom: 0
}

.ingreso .collapsible .collapsible-body .input-field>label {
    padding-left: 10px;
}